user_items.csv
user_items.gzip
user_reviews.csv
user_reviews.gzip
user_games.csv
user_games.gzip
PlayTimeGenre.csv
PlayTimeGenre.gzip
UserForGenre.csv
UserForGenre.gzip
UsersRecommend.csv
UsersRecommend.gzip
UsersWorstDeveloper.csv
UsersWorstDeveloper.gzip
sentiment_analysis.csv
sentiment_analysis.gzip